.a {
  background: var(--scheme-v2);
  border-bottom: 1px solid var(--scheme-v4);
  color: var(--scheme-v1);

  &__items {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;
  }
  &__item {
    color: var(--scheme-v1);
    padding: 10px 0;
  }
}
