.count {
  justify-self: flex-end;

  p {
    color: var(--scheme-v4);
    margin: var(--scheme-gap) 0;
  }

  &__items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--scheme-gap);
  }

  &__item {
    p {
      margin: 0;
    }

    p:first-child {
      color: black;
      font-size: 42px;
    }
  }

  @media only screen and(max-width:920px) {
    justify-self: unset;
    margin-top: var(--scheme-gap);
  }
}
