.about {
  padding: calc(var(--scheme-padding-container) * 2)
    var(--scheme-padding-container);

  &__wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: var(--scheme-gap) auto;
    max-width: var(--scheme-max-width-wrapper);

    @media only screen and(max-width:920px) {
      grid-template-columns: 1fr;
    }
  }

  &__item {
    border: 2px solid var(--scheme-v3);
    margin-right: 20%;
  }

  figure {
    background: var(--scheme-v7);
    height: 380px;
    margin: 30px -25% 30px 30px;
  }
}
