.b {
  background: var(--scheme-v2);
  color: var(--scheme-v1);

  &__items {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;

    figure {
      margin: 0 auto 0 0;
      padding: 40px 0;
      white-space: nowrap;
    }

    a {
      padding: 0 60px 0 0;
      white-space: nowrap;
    }

    button {
      border: 2px solid var(--scheme-v1);
      color: var(--scheme-v1);
      padding: 10px 40px;
    }
  }

  &__items:nth-child(2) {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;

    p:first-child {
      color: var(--scheme-v4);
    }
    h1 {
      font-size: 60px;
    }
    button {
      color: var(--scheme-v1);
      margin: 40px var(--scheme-gap) 0 0;
      padding: 10px 40px;
    }
  }

  &__counts {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;
  }

  &__count {
    p {
      margin: 10px 0 0 0;
      color: var(--scheme-v4);
    }
    p:first-child {
      color: var(--scheme-v1);
      font-size: 30px;
    }
  }
}
