.c {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 100px auto;
  max-width: 1400px;

  &__items {
    p {
      max-width: 590px;
      word-wrap: break-word;
      color: var(--scheme-v4);
    }
    h2 {
      font-size: 30px;
    }

    button {
      border: 2px solid var(--scheme-v3);
      color: var(--scheme-v3);
      padding: 10px 40px;
      margin: calc(var(--scheme-gap) * 2) 0 0 0;
    }
  }

  &__items:last-child {
    border: 2px solid var(--scheme-v3);
    padding: 310px 280px;
    position: relative;

    figure {
      background: var(--scheme-v2);
      left: -30px;
      position: absolute;
      padding: 280px 280px;
      top: 30px;
    }
  }
}
