.consult {
  background: var(--scheme-v7);
  color: var(--scheme-v1);
  padding: var(--scheme-padding-container);

  &__wrapper {
    margin: 0 auto;
    max-width: var(--scheme-max-width-wrapper);
  }

  &__items {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: 20px;

    @media only screen and(max-width:920px) {
      grid-template-columns: 1fr;
    }
  }

  &__info {
    p {
      color: var(--scheme-v4);
    }

    hr {
      background: var(--scheme-v4);
      margin: var(--scheme-gap) 0;
    }

    span {
      display: block;
      margin: var(--scheme-gap) 0;

      p {
        color: var(--scheme-v1);
      }
    }
  }

  &__form {
    border: 2px solid var(--scheme-v3);
    margin-left: 50px;
    padding: 30px;
  }
}
