.d {
  background: var(--scheme-v5);
  padding: 20px;

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1400px;
  }

  &__items {
    align-items: center;
    display: flex;
    flex-direction: column;

    p {
      color: var(--scheme-v3);
      margin: calc(var(--scheme-gap) * 6) 0 0 0;
    }

    h2 {
      font-size: 30px;
      margin: calc(var(--scheme-gap) * 2) 0;
    }
    span {
      border: 2px solid var(--scheme-v3);
      display: flex;
      margin: 0 0 calc(var(--scheme-gap) * 2) 0;
    }

    button {
      padding: 10px 75px;
      color: var(--scheme-v3);
    }
    button:first-child {
      border-right: 2px solid var(--scheme-v3);
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  &__item {
    margin: var(--scheme-gap);
    background: var(--scheme-v1);
    box-shadow: -10px 10px 15px var(--scheme-v6);

    figure {
      padding: 100px 150px;
      background: var(--scheme-v2);
    }

    h3 {
      margin: var(--scheme-gap) 0 var(--scheme-gap) var(--scheme-gap);
    }
    a {
      color: var(--scheme-v3);
      margin: 20px var(--scheme-gap);
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 200px;

      &::before {
        content: "\0027F6 ";
        position: absolute;
        margin: 0 0 5px 150px;
        font-size: 40px;
        color: var(--scheme-v3);
      }
    }

    ul {
      margin: 0 0 var(--scheme-gap) 0;
    }

    li {
      color: var(--scheme-v4);
      padding: 5px 40px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      &::before {
        content: "\0030FB";
        margin: 0 0 0 -30px;
        font-size: 30px;
        position: absolute;
        color: var(--scheme-v3);
      }
    }
  }

  &__btn {
    border: 2px solid var(--scheme-v3);
    color: var(--scheme-v3);
    margin: calc(var(--scheme-gap) * 3);
  }
}
