.e {
  margin: 0 auto;
  max-width: 1400px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__block {
    display: flex;
    justify-content: space-between;
    margin: calc(var(--scheme-gap) * 6) 0 0 0;
    width: 100%;
  }

  &__items:first-child {
    border: 2px solid var(--scheme-v3);
    padding: 220px 270px;
    height: 150px;
    position: relative;
    margin: 0 200px 0 0;

    figure {
      background: var(--scheme-v2);
      left: 30px;
      position: absolute;
      padding: 190px 330px;
      top: 30px;
    }
  }

  &__items:last-child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    p {
      margin: 10px 0 0 0;
      color: var(--scheme-v4);
    }
  }

  &__bio {
    text-align: center;
    margin: calc(var(--scheme-gap) * 2) 0;

    p {
      color: var(--scheme-v3);
    }
    h2 {
      color: black;
    }
  }

  &__count {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;

    span {
      display: flex;
      flex-direction: column;
      width: 100%;
      max-width: 200px;
      margin: 20px 20px 0 0;

      p {
        margin: 0;
      }
      p:first-child {
        color: black;
        font-size: 30px;
      }
    }
  }

  &__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
  }

  &__item {
    margin: var(--scheme-gap);
    background: var(--scheme-v1);
    box-shadow: -10px 10px 15px var(--scheme-v6);

    figure {
      padding: 200px 150px;
      background: var(--scheme-v2);
    }

    h3,
    p {
      margin: var(--scheme-gap) 0 var(--scheme-gap) var(--scheme-gap);
    }

    p {
      color: var(--scheme-v4);
    }
    a {
      color: var(--scheme-v3);
      margin: 20px var(--scheme-gap);
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 200px;
    }

    a::before {
      content: "\0027F6 ";
      position: absolute;
      margin: 0 0 0 130px;
      font-size: 40px;
      color: var(--scheme-v3);
    }
  }
  &__btn {
    border: 2px solid var(--scheme-v3);
    color: var(--scheme-v3);
    padding: 10px 40px;
    margin: calc(var(--scheme-gap) * 2) 0 0 0;
    max-width: 300px;
  }
}
