.feedback {
  display: flex;
  padding: 0 80px;
  position: relative;
  transition: transform 0.3s ease-out;

  article {
    box-shadow: -10px 10px 25px var(--scheme-v6);
    display: grid;
    margin-right: 280px;
    min-width: 520px;
    padding: 80px;
    position: relative;
    text-align: left;
    transition: transform 0.3s ease-out;
  }

  figure {
    background: var(--scheme-v7);
    border-radius: 100px;
    left: -80px;
    height: 70px;
    padding: 70px;
    position: absolute;
    top: 40px;
  }

  h3 {
    font-size: 30px;
    margin: 0 0 10px 0;
  }

  p {
    color: var(--scheme-v4);
  }

  @media only screen and(max-width:428px) {
    padding: 0;

    article {
      gap: var(--scheme-gap);
      justify-items: center;
      min-width: 400px;
      padding: 20px;
      text-align: center;
    }

    figure {
      padding: 50px;
      position: static;
    }

    p {
      max-width: 320px;
      text-align: center;
    }
  }
}

.grabbing {
  cursor: grabbing;
}

.grabbing .item {
  transform: scale(0.9);
}
