.footer {
  background: var(--scheme-v2);
  border-top: 1px solid var(--scheme-v4);
  padding: var(--scheme-padding-container);

  &__item {
    margin: 0 auto;
    max-width: var(--scheme-max-width-wrapper);

    a {
      color: var(--scheme-v4);
    }
  }
}
