.form {
  background: var(--scheme-v1);
  display: grid;
  margin-left: -82px;
  padding: 40px;

  ._error {
    border: 1.5px solid rgb(255, 0, 0);
  }

  p {
    color: var(--scheme-v4);
    margin: var(--scheme-gap) 0;
  }

  input {
    background: var(--scheme-v5);
    margin: calc(var(--scheme-gap) / 2) 0;
    padding: 20px;
  }

  span {
    align-items: center;
    display: flex;

    input {
      margin-right: var(--scheme-gap);
    }

    p {
      margin: var(--scheme-gap);
    }

    a {
      color: var(--scheme-v2);
      text-decoration: underline;
      transition: 0.3s ease-in-out;

      &:hover {
        color: var(--scheme-v3);
      }
    }
  }

  button {
    border: 2px solid var(--scheme-v3);
    color: var(--scheme-v3);
    max-width: 200px;

    &:hover {
      color: var(--scheme-v1);
    }
  }

  @media only screen and(max-width:920px) {
    padding: 20px;
  }
}
