.g {
  background: var(--scheme-v2);
  color: var(--scheme-v1);
  padding: 20px;

  &__wrapper {
    margin: 0 auto;
    max-width: 1400px;
    flex-wrap: wrap;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: calc(var(--scheme-gap) * 6) 0;
  }

  &__info {
    width: 100%;
    p {
      color: var(--scheme-v4);
      margin: 0 0 calc(var(--scheme-gap) * 2) 0;
    }

    span {
      margin: 80px;
      p {
        color: var(--scheme-v1);
      }
    }

    hr {
      background: var(--scheme-v4);
      height: 1.3px;
    }
  }

  &__form {
    border: 2px solid var(--scheme-v3);
    padding: 390px 290px;
    position: relative;
  }

  form {
    background: var(--scheme-v1);
    display: flex;
    flex-direction: column;
    left: -40px;
    position: absolute;
    top: 30px;
    padding: 60px;
    width: 580px;

    h2 {
      font-size: 30px;
      color: black;
    }

    p {
      color: var(--scheme-v4);
      margin: var(--scheme-gap) 0;
    }

    input {
      margin: 0 0 20px 0;
      background: var(--scheme-v5);
      padding: 10px 30px;
    }

    textarea {
      border: none;
      background: var(--scheme-v5);
      font-size: 16px;
      margin: 0 0 20px 0;
      outline: none;
      padding: 20px 30px;
      resize: none;
    }

    span {
      color: var(--scheme-v4);

      a {
        color: black;
        text-decoration: underline;
      }
    }

    button {
      border: 2px solid var(--scheme-v3);
      color: var(--scheme-v3);
      margin: 20px 0;
      max-width: 200px;
    }
  }

  nav {
    align-items: center;
    display: flex;

    figure {
      margin: 0 auto 0 0;
      padding: 40px 0;
    }

    a {
      padding: 0 60px 0 0;
    }
  }
}
