.header {
  background: var(--scheme-v7);
  border-bottom: 1px solid var(--scheme-v4);
  padding: var(--scheme-padding-container);

  &__wrapper {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: var(--scheme-max-width-wrapper);
    position: relative;
  }

  &__item {
    align-items: center;
    display: flex;

    svg {
      margin-right: 0.5rem;
      width: 1.5rem;
    }

    button {
      border: none;
      background: none;
      padding: 0;
    }
  }
}
