.counts_hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    display: grid;
    gap: var(--scheme-gap);
    text-align: center;
    max-width: 100px;

    p {
      font-size: 30px;

      &:last-child {
        color: var(--scheme-v4);
        font-size: 16px;
      }
    }
  }
}
