.hero {
  background: var(--scheme-v7);
  color: var(--scheme-v1);
  padding: calc(var(--scheme-padding-container) * 5)
    var(--scheme-padding-container);

  &__wrapper {
    margin: 0 auto;
    max-width: var(--scheme-max-width-wrapper);
  }

  &__title {
    margin: calc(var(--scheme-gap) * 4) 0;

    p:first-child {
      color: var(--scheme-v4);
    }

    h1 {
      font-size: 55px;
      margin: var(--scheme-gap) 0;
      word-break: break-all;
    }

    span {
      display: flex;
      flex-wrap: wrap;
      gap: calc(var(--scheme-gap) / 1.5);
      margin: calc(var(--scheme-gap) * 3) 20px var(--scheme-gap) 0;
    }
  }

  @media only screen and(max-width:920px) {
    text-align: center;

    span {
      justify-content: center;
    }
  }

  @media only screen and(max-width:428px) {
    padding: calc(var(--scheme-padding-container) * 1)
      var(--scheme-padding-container) calc(var(--scheme-padding-container) * 5);

    &__title {
      margin: var(--scheme-gap) 0;
    }
  }
}
