.hero {
  background: var(--scheme-v2);
  color: var(--scheme-v1);
  padding: var(--scheme-padding-container);

  &__wrapper {
    margin: 0 auto;
    max-width: var(--scheme-max-width-wrapper);
  }

  &__title {
    margin: var(--scheme-gap) 0;

    p:first-child {
      color: var(--scheme-v4);
    }

    h1 {
      font-size: 55px;
      margin: var(--scheme-gap) 0;
      word-break: break-all;
    }
  }

  button {
    margin: var(--scheme-gap) 1rem 0 0;
  }
}
