.counts_hero {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: var(--scheme-gap);

  @media only screen and(max-width: 411px) {
    justify-content: center;
  }

  span {
    display: grid;
    text-align: center;

    p {
      font-size: 42px;

      &:last-child {
        color: var(--scheme-v4);
        font-size: 16px;
      }
    }
  }
}
