.hero {
  background: var(--scheme-v2);
  color: var(--scheme-v1);
  padding: 20px;

  &__wrapper {
    margin: 0 auto;
    max-width: 1400px;
  }

  nav {
    align-items: center;
    display: flex;

    figure {
      margin: 0 auto 0 0;
      padding: 40px 0;
    }

    a {
      padding: 0 60px 0 0;
    }
  }

  &__item {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 1400px;
    padding: 20px 0;

    p:first-child {
      color: var(--scheme-v4);
    }
    h1 {
      font-size: 55px;
      margin: 0 0 var(--scheme-gap) 0;
    }
  }

  &__btn {
    margin: calc(var(--scheme-gap) * 4) 0;
    button {
      margin: 0 10px 0 0;
    }
  }

  &__counts {
    display: flex;
    justify-content: space-between;
  }

  &__count {
    p {
      color: var(--scheme-v1);
      font-size: 30px;
    }
    p:last-child {
      color: var(--scheme-v4);
      font-size: 16px;
    }
  }
}
