.nav {
  display: flex;
  flex-wrap: wrap;
  gap: var(--scheme-gap);

  ul {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: var(--scheme-gap);

    button {
      margin: 0;
    }
  }

  li {
    cursor: pointer;
    position: relative;

    &::after {
      content: "";
      display: block;
      padding: 1px;
      position: absolute;
      transition: 0.1s ease-in-out;
      width: 100%;
    }
    &:hover {
      &::after {
        background: var(--scheme-v3);
      }
    }
  }

  &__item {
    align-items: center;
    display: flex;
    margin-right: auto;

    svg {
      fill: var(--scheme-v1);
      width: 80px;
    }
  }

  @media only screen and(max-width:920px) {
    justify-content: center;

    &__item {
      margin: 0;
    }

    ul {
      justify-content: center;
    }
  }
}
