.new {
  margin-bottom: var(--scheme-gap);
  text-align: left;

  p {
    color: var(--scheme-v4);
  }

  h3 {
    margin: calc(var(--scheme-gap) / 2) 0;
  }

  span {
    align-items: center;
    display: flex;

    a {
      color: var(--scheme-v3);
      margin-right: var(--scheme-gap);
    }
  }
}
