.news {
  padding: calc(var(--scheme-padding-container) * 2)
    var(--scheme-padding-container);
  text-align: center;

  p {
    color: var(--scheme-v3);
  }

  h2 {
    margin: 0 0 calc(var(--scheme-gap) * 4) 0;
  }

  &__grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--scheme-gap);
    margin: 0 auto;
    max-width: var(--scheme-max-width-wrapper);

    @media only screen and(max-width:920px) {
      grid-template-columns: 1fr;
    }
  }

  figure {
    background: var(--scheme-v7);
    height: 400px;
    margin-bottom: var(--scheme-gap);
  }
}
