.offer {
  padding: calc(var(--scheme-padding-container) * 2)
    var(--scheme-padding-container);

  &__wrapper {
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--scheme-gap);
    margin: var(--scheme-gap) auto;
    max-width: var(--scheme-max-width-wrapper);

    @media only screen and(max-width:920px) {
      grid-template-columns: 1fr;
    }
  }

  &__title {
    p {
      color: var(--scheme-v4);
      font-size: 16px;
    }

    h2 {
      font-size: 30px;
      margin: var(--scheme-gap) 0;
    }

    button {
      border: 2px solid var(--scheme-v3);
      color: var(--scheme-v3);

      &:hover {
        color: var(--scheme-v1);
      }
    }
  }

  &__item {
    border: 2px solid var(--scheme-v3);
    margin-left: 11%;

    figure {
      background: var(--scheme-v7);
      height: 580px;
      margin: 30px 30px 30px -12%;
    }
  }
}
