.city {
  display: none;
  left: 0;
  position: absolute;
  top: 60px;
  z-index: 99;

  ul {
    display: grid;
    background: var(--scheme-v1);
    border-radius: 5px;
  }

  li {
    align-items: center;
    border-bottom: 1px solid var(--scheme-v5);
    color: var(--scheme-v4);
    display: flex;
    padding: 20px 32px;
    transition: 0.1s ease-in-out;

    &:hover {
      color: var(--scheme-v1);
      background: var(--scheme-v3);

      &:first-child {
        border-radius: 4px 4px 0px 0px;
      }

      &:last-child {
        border-radius: 0px 0px 4px 4px;
      }
    }

    &:last-child {
      border: none;
    }

    &::before {
      color: var(--scheme-v4);
      content: "\0030FB";
      margin: 0 0 0 -30px;
      font-size: 40px;
      position: absolute;
    }
  }
}
