.slider {
  max-width: 1900px;
  margin: 0 auto;
  padding: calc(var(--scheme-padding-container) * 2)
    var(--scheme-padding-container);
  text-align: center;

  p {
    color: var(--scheme-v3);
  }

  h2 {
    font-size: 30px;
  }

  &__wrapper {
    align-items: center;
    display: flex;
    margin: 0 auto;
    max-width: 1600px;

    span {
      align-items: center;
      display: flex;
      justify-content: center;
      height: 50px;
      padding: 50px;
      width: 50px;
    }

    svg {
      cursor: pointer;
      min-width: 84px;
      z-index: 999;
      display: none;

      &.sliderL {
        display: block;
      }
      &.sliderR {
        display: block;
      }
    }
  }

  &__feed {
    overflow: hidden;
    padding: calc(var(--scheme-padding-container) * 2) 0;
  }
}

@media only screen and(max-width:870px) {
  .slider {
    padding: 0;

    span {
      display: none;
    }

    figure {
      padding: 50px;
      position: static;
    }
  }
}
