.team_card {
  background: var(--scheme-v1);
  box-shadow: -10px 10px 15px var(--scheme-v6);
  text-align: left;

  figure {
    background: var(--scheme-v7);
    height: 250px;
  }

  p {
    color: var(--scheme-v4);
    margin: 0 var(--scheme-gap);
  }

  span {
    align-items: center;
    display: flex;

    a {
      color: var(--scheme-v3);
      margin: var(--scheme-gap);
    }
  }
}
