:root {
  --scheme-v1: #ffffff;
  --scheme-v2: #000000;
  --scheme-v3: #4342e5;
  --scheme-v4: #666666;
  --scheme-v5: #f9f9f9;
  --scheme-v6: #a1a1a14a;
  --scheme-v7: #21273d;
  --scheme-gap: 20px;

  --scheme-max-width-wrapper: 1400px;
  --scheme-padding-container: 20px;
}

// @font-face {
//   font-family: "font-name";
//   src: local("../fonts/font-name"),
//     url("../fonts/font-name.ext") format("truetype");
//   font-weight: 700;
// }

html {
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
