:root {
  --scheme-v1: #ffffff;
  --scheme-v2: #21273d;
  --scheme-v3: #4342e5;
  --scheme-v4: #666666;
  --scheme-v5: #f9f9f9;
  --scheme-v6: #a1a1a14a;
  --scheme-gap: 20px;
}

// @font-face {
//   font-family: "font-name";
//   src: local("../fonts/font-name"),
//     url("../fonts/font-name.ext") format("truetype");
//   font-weight: 700;
// }

html {
}

body {
  margin: 0 auto;
  max-width: 1920px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.6;
}
