<section class="count">
    <h2>Юридические услуги <br />от профессионалов своего дела</h2>
    <p>Наша цель - сделать жизнь наших клиентов комфортнее, <br /> а самое главное безопаснее.</p>

    <div class="count__items">
        <article class="count__item">
            <p id='about-a'>0</p>
            <p>лет практики</p>
        </article>

        <article class="count__item">
            <p id='about-b'>0</p>
            <p>довольных клиентов</p>
        </article>

        <article class="count__item">
            <p id='about-c'>0</p>
            <p>выиграных дел</p>
        </article>

        <article class="count__item">
            <p id='about-d'>0</p>
            <p>заседаний суда </p>
        </article>
    </div>
</section>