<article class="card">
    <figure></figure>

    <h3>Заголовок услуги</h3>

    <ul>
        <li>Краткое описание услуги</li>
        <li>Краткое описание услуги</li>
        <li>Краткое описание услуги</li>
        <li>Краткое описание услуги</li>
    </ul>

    <article>
        <a href="/">Узнать больше</a>

        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50" width="50">
            <path d="M1 26h43.586l-6.293 6.293 1.414 1.414L48.414 25l-8.707-8.707-1.414 1.414L44.586 24H1z" />
        </svg>
    </article>
</article>