<section class="consult">
    <div class="consult__wrapper">
        <div class="consult__items">
            <article class="consult__info">
                <h2>Задайте вопрос юристу</h2>
                <p>Оставайтесь на связи</p>
                <hr />

                <span>
                    <h3>Главный офис:</h3>
                    <p>400000, г.Волгоград, ул.Советская, д. 1, стр. 1</p>
                </span>

                <span>
                    <h3>Телефон</h3>
                    <p>8 800 999 99 99</p>
                </span>

                <span>
                    <h3>Эл. почта</h3>
                    <p>mftsaudit@mail.ru</p>
                </span>

                <span>
                    <h3>График работы</h3>
                    <p>Пн-пт: с 10:00 до 20:00</p>
                </span>
            </article>

            //= ../components/forma.html
        </div>

        <nav>
            //= ../components/navigation.html
        </nav>
    </div>
</section>