<section class="d">
    <div class="d__wrapper">

        <article class="d__items">
            <p>Чем мы занимаемся</p>
            <h2>Спектр наших услуг</h2>
            <span>
                <button>Услуги для граждан</button>
                <button>Услуги для бизнеса</button>
            </span>
        </article>

        <article class="d__grid">

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

            <div class="d__item">
                <figure></figure>
                <h3>Заголовок услуги</h3>
                <ul>

                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>
                    <li>Краткое описание услуги</li>

                </ul>

                <a href="/">Узнать больше </a>
            </div>

        </article>

        <button class="d__btn">Все услуги</button>

    </div>

</section>