<section class="e">

    <div class="e__wrapper">
        <article class="e__block">
            <article class="e__items">
                <figure></figure>
            </article>

            <article class="e__items">
                <h2>Юридические услуги <br />от профессионалов своего дела</h2>
                <p>Наша цель - сделать жизнь наших клиентов комфортнее, <br /> а самое главное безопаснее.</p>

                <article class="e__count">
                    <span>
                        <p>10</p>
                        <p>лет практики</p>
                    </span>

                    <span>
                        <p>980</p>
                        <p>выиграных дел</p>
                    </span>

                    <span>
                        <p>1020</p>
                        <p>довольных клиентов</p>
                    </span>

                    <span>
                        <p>1200</p>
                        <p>заседаний суда </p>
                    </span>
                </article>



            </article>
        </article>



        <article class="e__bio">
            <p>Наша команда</p>
            <h2>Профессионалы нашей компании</h2>

        </article>

        <article class="e__grid">

            <div class="e__item">
                <figure></figure>
                <h3>Инициалы</h3>
                <p>Стаж: более 15 лет</p>

                <a href="">Подробнее </a>
            </div>


            <div class="e__item">
                <figure></figure>
                <h3>Инициалы</h3>
                <p>Стаж: более 15 лет</p>

                <a href="">Подробнее </a>
            </div>

            <div class="e__item">
                <figure></figure>
                <h3>Инициалы</h3>
                <p>Стаж: более 15 лет</p>

                <a href="">Подробнее </a>
            </div>

            <div class="e__item">
                <figure></figure>
                <h3>Инициалы</h3>
                <p>Стаж: более 15 лет</p>

                <a href="">Подробнее </a>
            </div>

        </article>

        <button class="e__btn">Вся команда</button>

    </div>


</section>