<section class="f">
    <p>Наши рекомендации</p>
    <h2>Отзывы наших клиентов</h2>

    <article class="f__slider">
        <button></button>

        <div class="f__slideritems">
            <div class="f__feedback">
                <figure></figure>
                <h3>Катерина Наумова</h3>
                <p>Компания </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis corporis quaerat assumenda nulla
                    libero
                    tenetur tempore architecto distinctio reiciendis excepturi?</p>
            </div>

            <div class="f__feedback">
                <figure></figure>
                <h3>Катерина Наумова</h3>
                <p>Компания </p>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis corporis quaerat assumenda nulla
                    libero
                    tenetur tempore architecto distinctio reiciendis excepturi?</p>
            </div>
        </div>

        <button></button>
    </article>

    <p>Публикации</p>
    <h2>Новости нашей кампании</h2>

    <article class="f__news">

        <div class="f__item">
            <figure></figure>
            <div class="f__text">
                <p>01/07/2021ssss</p>
                <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП. Определен
                    новый
                    порядок учета налогоплательщиков.</p>
                <a href="">Подробнее</a>
            </div>
        </div>

        <div class="f__item">

            <div class="f__text">
                <p>01/07/2021</p>
                <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП. Определен
                    новый
                    порядок учета налогоплательщиков.</p>
                <a href="">Подробнее</a>
            </div>
            <div class="f__text">
                <p>01/07/2021</p>
                <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП. Определен
                    новый
                    порядок учета налогоплательщиков.</p>
                <a href="">Подробнее</a>
            </div>
            <div class="f__text">
                <p>01/07/2021</p>
                <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП. Определен
                    новый
                    порядок учета налогоплательщиков.</p>
                <a href="">Подробнее</a>
            </div>

        </div>



    </article>

</section>