<section class="f">
    <div class="f__wrapper">
        <p>Наши рекомендации</p>
        <h2>Отзывы наших клиентов</h2>

        <section class="f__slider">
            <button></button>

            <div class="f__feedback">
                <figure></figure>
                <h3>Катерина Наумова</h3>
                <p>Компания </p>
                <p>От лица компании «НСГ ГРУПП»
                    и от себя лично выражаем благодарность
                    Цыганковой Л.В и ее юридическому бюро
                    за грамотную и своевременно проведенную
                    работу, в связи с нашим обращением
                    по предоставлению юридических услуг
                    в г.Калуга
                </p>
            </div>

            <div class="f__feedback">
                <figure></figure>
                <h3>Катерина Наумова</h3>
                <p>Компания </p>
                <p>От лица компании «НСГ ГРУПП»
                    и от себя лично выражаем благодарность
                    Цыганковой Л.В и ее юридическому бюро
                    за грамотную и своевременно проведенную
                    работу, в связи с нашим обращением
                    по предоставлению юридических услуг
                    в г.Калуга</p>
            </div>
            <button></button>
        </section>

        <p>Публикации</p>
        <h2>Новости нашей кампании</h2>

        <section class="f__news">

            <div class="f__item">
                <figure></figure>
                <article class="f__text">
                    <p>01/07/2021</p>
                    <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                    <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП.
                        Определен
                        новый
                        порядок учета налогоплательщиков.</p>
                    <a href="/">Подробнее</a>
                </article>
            </div>

            <div class="f__item">

                <article class="f__text">
                    <p>01/07/2021</p>
                    <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                    <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП.
                        Определен
                        новый
                        порядок учета налогоплательщиков.</p>
                    <a href="/">Подробнее</a>
                </article>

                <article class="f__text">
                    <p>01/07/2021</p>
                    <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                    <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП.
                        Определен
                        новый
                        порядок учета налогоплательщиков.</p>
                    <a href="/">Подробнее</a>
                </article>

                <article class="f__text">
                    <p>01/07/2021</p>
                    <h3>Конференция, посвященная 25-летию <br />консалтинга и аудита</h3>
                    <p>В НК РФ были внесены изменения по вопросам постановки на учет граждан, организаций и ИП.
                        Определен
                        новый
                        порядок учета налогоплательщиков.</p>
                    <a href="/">Подробнее</a>
                </article>

            </div>

        </section>
    </div>

</section>