<section class="feedback">
    <article class="item">
        <figure></figure>
        <h3>Катерина Наумова</h3>

        <p>Компания </p>

        <p>От лица компании «НСГ ГРУПП»
            и от себя лично выражаем благодарность
            Цыганковой Л.В и ее юридическому бюро
            за грамотную и своевременно проведенную
            работу, в связи с нашим обращением
            по предоставлению юридических услуг
            в г.Калуга
        </p>
    </article>

    <article class="item">
        <figure></figure>

        <h3>Катерина Александровна</h3>

        <p>Компания </p>

        <p>От лица компании «НСГ ГРУПП»
            и от себя лично выражаем благодарность
            Цыганковой Л.В и ее юридическому бюро
            за грамотную и своевременно проведенную
            работу, в связи с нашим обращением
            по предоставлению юридических услуг
            в г.Калуга
        </p>
    </article>

    <article class="item">
        <figure></figure>

        <h3>Катерина Викторовна</h3>

        <p>Компания </p>

        <p>От лица компании «НСГ ГРУПП»
            и от себя лично выражаем благодарность
            Цыганковой Л.В и ее юридическому бюро
            за грамотную и своевременно проведенную
            работу, в связи с нашим обращением
            по предоставлению юридических услуг
            в г.Калуга
        </p>
    </article>

    <article class="item">
        <figure></figure>

        <h3>Катерина Валентиновна</h3>

        <p>Компания </p>

        <p>От лица компании «НСГ ГРУПП»
            и от себя лично выражаем благодарность
            Цыганковой Л.В и ее юридическому бюро
            за грамотную и своевременно проведенную
            работу, в связи с нашим обращением
            по предоставлению юридических услуг
            в г.Калуга
        </p>
    </article>
</section>