<div id="form" class="form">
    <form id="form" method="POST">

        <h2>Записаться на консультацию</h2>
        <p>Мы перезвоним Вам в течении 20 минут</p>

        <input class="_name _req" name="name" type="text" placeholder="Имя">
        <input class="_tel _req" name="tele" type="text" placeholder="Тел: 8 (800) 999 99 99">
        <input class="_mail _req" name="mail" type=" email" placeholder="Эл.почта">
        <textarea class="_area _req" name="area" cols="10" rows="5" placeholder="Коментарий"></textarea>
        <span>
            <input class="_check _req" type="radio" name="check" id="check">
            <p>Я согласен с <a href="/">условиями оферты</a></p>
        </span>
        <button id="send" value="submit">Отправить</button>

    </form>
</div>