<section class="g">
    <article class="g__items">

        <article class="g__item">
            <div class="g__info">
                <h2>Задайте вопрос юристу</h2>
                <p>Оставайтесь на связи</p>
                <hr />
                <span>
                    <h3>Главный офис:</h3>
                    <p>400000, г.Волгоград, ул.Советская, д. 1, стр. 1</p>
                </span>

                <span>
                    <h3>Телефон</h3>
                    <p>8 800 999 99 99</p>
                </span>

                <span>
                    <h3>Эл. почта</h3>
                    <p>mftsaudit@mail.ru</p>
                </span>

                <span>
                    <h3>График работы</h3>
                    <p>Пн-пт: с 10:00 до 20:00</p>
                </span>

            </div>
            <article class="g__sendform">
                <form class="g__form" action="">
                    <h2>Записаться на консультацию</h2>
                    <p>Мы перезвоним Вам в течении 20 минут</p>
                    <input type="text" placeholder="Имя">
                    <input type="tel" placeholder="Телефон">
                    <input type=" email" placeholder="Эл.почта">
                    <textarea name="" id="" cols="10" rows="5" placeholder="Коментарий"></textarea>
                    <span>
                        <input type="radio" name="check" id="check">
                        <label for="check">Я согласен с <a href="/">условиями оферты</a></label>
                    </span>

                    <button>Отправить</button>
                </form>
            </article>


            </form>
        </article>

        <nav class="g__nav">

            <figure>МФЦ АУДИТ</figure>

            <a>О компании</a>
            <a>Наши услуги</a>
            <a>Преимущества
            </a>
            <a>Документы</a>
            <a>Контакты</a>

            <button>Консультация</button>


        </nav>
    </article>



</section>