<section class="hero">

    <div class="hero__wrapper">
        <nav>
            <figure>МФЦ АУДИТ</figure>

            <a href="/">О компании</a>
            <a ref="/">Наши услуги</a>
            <a ref="/">Преимущества</a>
            <a ref="/">Документы</a>
            <a ref="/">Контакты</a>

            <button>Консультация</button>
        </nav>

        <article class="hero__item">
            <p>Предприятие</p>

            <h1>Юридическое сопровождение <br />с гарантией результата</h1>

            <p>Получите детальный анализ вашей ситуации <br />и план по ее разрешению совершенно бесплатно.
            </p>

            <span class="hero__btn">
                <button>Консультация</button>
                <button>О компании</button>
            </span>

        </article>

        <article class="hero__counts">

            <span class="hero__count">
                <p>80</p>
                <p>ежедневных косультаций</p>
            </span>

            <span class="hero__count">
                <p>16</p>
                <p>обслуживаемых городов</p>
            </span>

            <span class="hero__count">
                <p>99,9%</p>
                <p>выиграных дел</p>
            </span>

        </article>
    </div>

</section>