<section class="hero">

    <div class="hero__wrapper">
        //= ../components/navigation.html

        <article class="hero__title">
            <p>Предприятие</p>

            <h1>Юридическое сопровождение <br />с гарантией результата</h1>

            <p>Получите детальный анализ вашей ситуации <br />и план по ее разрешению совершенно бесплатно.
            </p>

            <span>
                <button class="button_consult">Консультация</button>

                <button>О компании</button>
            </span>

        </article>

        //= ../components/hero_count.html
    </div>

</section>