<section class="offer">
    <div class="offer__wrapper">
        <article class="offer__title">
            <p>Категория услуги</p>

            <h2>Заголовок предложения

            </h2>

            <p>Более подробно прописан порядок постановки на учет организаций,
                а также граждан (на основании факта регистрации по месту жительства
                или пребывания. <br /><br />
                По данным о первичной выдаче паспорта гражданина или о замене
                документа, об установлении опеки (попечительства) и об управлении
                их имуществом и т. д.). Включены нормы о постановке на учет патентных
                поверенных, оценщиков и медиаторов.
                Были внесены изменения по вопросам постановки на учет
                граждан, организаций и ИП. В связи с этим Минфин определил новый
                порядок учета налогоплательщиков.
            </p>

            <button class="button_consult">Консультация</button>
        </article>

        <article class="offer__item">
            <figure></figure>
        </article>
    </div>
</section>