<section class="services">
    <p>Чем мы занимаемся</p>

    <h2>Спектр наших услуг</h2>

    <div class="services__wrapper">
        <div class=" services__buttons">
            <button>Услуги для граждан</button>

            <button>Услуги для бизнеса</button>
        </div>

        <section class="services__items">
            //= ../components/card.html
            //= ../components/card.html
            //= ../components/card.html
            //= ../components/card.html
            //= ../components/card.html
            //= ../components/card.html
            //= ../components/card.html
            //= ../components/card.html
        </section>

        <button class="services__button">Все услуги</button>
    </div>
</section>