<section class="slider">
    <p>Наши рекомендации</p>
    <h2>Отзывы наших клиентов</h2>

    <div class="slider__wrapper">
        <span>
            <svg id="slide_left" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="84" height="84">
                <path fill="none" d="M0 0h24v24H0z" />
                <path d="M10.828 12l4.95 4.95-1.414 1.414L8 12l6.364-6.364 1.414 1.414z" fill="var(--scheme-v3)" />
            </svg>
        </span>

        <div class="slider__feed">
            //= ../components/feedback.html
        </div>

        <span>
            <svg id="slide_right" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="84" height="84">
                <path fill="none" d="M0 0h24v24H0z" />
                <path d="M13.172 12l-4.95-4.95 1.414-1.414L16 12l-6.364 6.364-1.414-1.414z" fill="var(--scheme-v3)" />
            </svg>
        </span>
    </div>
</section>